In [67]:
df_vic = pd.read_csv('data/df_victims.csv',parse_dates=['FECHA_FALLECIMIENTO'])
df_vic

,ID_hecho,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,hrsUntilDisease
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01 23:59:59.000000000,19.999722
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02 23:59:59.000000000,22.749722
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03 23:59:59.000000000,16.999722
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18.0,2016-01-11 18:59:30.600924499,42.991834
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01 23:59:59.000000000,282.666389
...,...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50.0,2021-12-12 23:59:59.000000000,17.666389
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18.0,2021-12-18 23:59:59.000000000,126.833056
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43.0,2021-12-20 23:59:59.000000000,22.833056
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27.0,2022-01-02 23:59:59.000000000,95.283056
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60.0,2021-12-20 23:59:59.000000000,133.499722

In [71]:
df_vic['datetime'] = df_vic['FECHA_FALLECIMIENTO'] - pd.to_timedelta(df_vic['hrsUntilDisease'],unit='h')
df_vic['semester'] = df_vic['datetime'].dt.year.astype(str) + '_S' + (df_vic['datetime'].dt.quarter.isin([3,4]).astype(int)+1).astype(str)
df_vic

,ID_hecho,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,hrsUntilDisease,datetime,semester
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01 23:59:59.000000000,19.999722,2016-01-01 04:00:00.000000001,2016_S1
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02 23:59:59.000000000,22.749722,2016-01-02 01:15:00.000000001,2016_S1
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03 23:59:59.000000000,16.999722,2016-01-03 07:00:00.000000001,2016_S1
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18.0,2016-01-11 18:59:30.600924499,42.991834,2016-01-09 23:59:59.999999999,2016_S1
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01 23:59:59.000000000,282.666389,2016-01-21 05:20:00.000000000,2016_S1
...,...,...,...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50.0,2021-12-12 23:59:59.000000000,17.666389,2021-12-12 06:20:00.000000000,2021_S2
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18.0,2021-12-18 23:59:59.000000000,126.833056,2021-12-13 17:09:59.999999999,2021_S2
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43.0,2021-12-20 23:59:59.000000000,22.833056,2021-12-20 01:09:59.999999999,2021_S2
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27.0,2022-01-02 23:59:59.000000000,95.283056,2021-12-30 00:42:59.999999999,2021_S2
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60.0,2021-12-20 23:59:59.000000000,133.499722,2021-12-15 10:30:00.000000001,2021_S2

In [107]:
df_hom['TIPO_DE_CALLE'].groupby([df_hom['semester'],df_hom['TIPO_DE_CALLE']]).count().loc['2016_S1']

TIPO_DE_CALLE
AUTOPISTA     4
AVENIDA      42
CALLE        10
GRAL PAZ      8
Name: TIPO_DE_CALLE, dtype: int64

In [113]:
years = list(range(2016,2022))
semesters = []
for y in years:
    semesters.append(str(y)+'_S1')
    semesters.append(str(y)+'_S2')

NameError: name 'expression' is not defined

In [110]:
semesters

[['2016_S1', '2016_S2'],
 ['2017_S1', '2017_S2'],
 ['2018_S1', '2018_S2'],
 ['2019_S1', '2019_S2'],
 ['2020_S1', '2020_S2'],
 ['2021_S1', '2021_S2']]