In [140]:
pop = {}
for y in years:
    df_pop = pd.read_excel('raw_data/PBP_CO1025.xls',sheet_name=str(y))
    pop[y] = df_pop.iloc[2,1]

In [141]:
pop

{2016: 3059122,
 2017: 3063728,
 2018: 3068043,
 2019: 3072029,
 2020: 3075646,
 2021: 3078836}

In [144]:
v = df_hom['N_VICTIMAS'].groupby(df_hom['datetime'].dt.year).sum().values
v

array([146, 140, 149, 104,  81,  97])

In [152]:
np.divide(v,np.array(list(pop.values())))*100000

array([4.77261123, 4.56959626, 4.85651603, 3.38538471, 2.63359307,
       3.15054131])

In [149]:
np.array(list(pop.values()))

[3059122, 3063728, 3068043, 3072029, 3075646, 3078836]

In [ ]:
df_hom['N_VICTIMAS'].groupby(df_hom['datetime'].dt.year).sum()[period]/pop[period]*100000

In [154]:
RAHR = []
for periodi in years:
    rahr = df_hom['N_VICTIMAS'].groupby(df_hom['datetime'].dt.year).sum()[periodi]/pop[periodi]*100000
    RAHR.append(rahr)
objective = [-10] + (len(years)-2)*[np.nan] + [-10]
df_homRateTime = pd.DataFrame({'Year':np.array(years).astype(str),'Homicide Rate':RAHR,'Objective':objective})
df_homRateTime['HR Change %'] = df_homRateTime['Homicide Rate'].pct_change()*100

In [155]:
df_homRateTime

   Year  Homicide Rate  Objective  HR Change %
0  2016       4.772611      -10.0          NaN
1  2017       4.569596        NaN    -4.253750
2  2018       4.856516        NaN     6.278887
3  2019       3.385385        NaN   -30.291907
4  2020       2.633593        NaN   -22.206978
5  2021       3.150541      -10.0    19.629010

In [156]:
df_homs = df_hom[df_hom['semester']=='2016_S1']
df_homs['N_VICTIMAS'].groupby(df_homs['datetime'].dt.day).sum()

datetime
1     1
2     2
3     1
4     2
8     3
10    2
11    2
12    3
13    4
14    4
15    3
16    1
17    4
18    1
19    2
20    3
21    4
22    3
23    3
24    2
25    1
26    1
27    1
28    4
29    5
30    2
31    1
Name: N_VICTIMAS, dtype: int64

In [ ]:
rahm = df_hom_mot['N_VICTIMAS'].groupby(df_hom_mot['datetime'].dt.year).sum()[period]

In [ ]:
# Calculate RAHDT
if type(period) == int:
    rahdt = df_vic['hrsUntilDisease'].groupby(df_vic['datetime'].dt.year).mean()[period]/tunitsd[tunits]
elif type(period) == str:
    try:
        rahdt = df_vic['hrsUntilDisease'].groupby(df_vic['semester']).mean()[period]/tunitsd[tunits]
    except:
        rahdt = df_vic['hrsUntilDisease'].mean()/tunitsd[tunits]

In [158]:
df_vic['hrsUntilDisease'].groupby(df_vic['semester']).mean()/24

semester
2016_S1    2.601783
2016_S2    4.021436
2017_S1    1.350023
2017_S2    2.890867
2018_S1    1.361546
2018_S2    1.280632
2019_S1    1.824659
2019_S2    1.636094
2020_S1    3.273734
2020_S2    2.412673
2021_S1    3.000884
2021_S2    2.058603
Name: hrsUntilDisease, dtype: float64

In [159]:
df_vic

,ID_hecho,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,hrsUntilDisease,datetime,semester
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01 23:59:59.000000000,19.999722,2016-01-01 04:00:00.000000001,2016_S1
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02 23:59:59.000000000,22.749722,2016-01-02 01:15:00.000000001,2016_S1
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03 23:59:59.000000000,16.999722,2016-01-03 07:00:00.000000001,2016_S1
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18.0,2016-01-11 18:59:30.600924499,42.991834,2016-01-09 23:59:59.999999999,2016_S1
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01 23:59:59.000000000,282.666389,2016-01-21 05:20:00.000000000,2016_S1
...,...,...,...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50.0,2021-12-12 23:59:59.000000000,17.666389,2021-12-12 06:20:00.000000000,2021_S2
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18.0,2021-12-18 23:59:59.000000000,126.833056,2021-12-13 17:09:59.999999999,2021_S2
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43.0,2021-12-20 23:59:59.000000000,22.833056,2021-12-20 01:09:59.999999999,2021_S2
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27.0,2022-01-02 23:59:59.000000000,95.283056,2021-12-30 00:42:59.999999999,2021_S2
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60.0,2021-12-20 23:59:59.000000000,133.499722,2021-12-15 10:30:00.000000001,2021_S2

In [161]:
df_sex = df_vic['SEXO'].groupby(df_vic['SEXO']).count()
df_sex_f = pd.DataFrame({'SEXO':df_sex.index,'Homicides':df_sex.values})

In [162]:
df_sex_f

        SEXO  Homicides
0   FEMENINO        166
1  MASCULINO        545

In [163]:
166+545

711

In [164]:
166/711

0.23347398030942335