In [14]:
import pandas as pd
df_hom = pd.read_csv('data/df_homicides.csv',parse_dates=['datetime'])
df_hom['N_VICTIMAS'].groupby(df_hom['datetime'].dt.year).sum()[2016]

146

In [18]:
df_hom

,ID,N_VICTIMAS,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO,datetime
0,2016-0001,1,AVENIDA,8,-58.475340,-34.687570,MOTO,AUTO,2016-01-01 04:00:00
1,2016-0002,1,GRAL PAZ,9,-58.508775,-34.669777,AUTO,PASAJEROS,2016-01-02 01:15:00
2,2016-0003,1,AVENIDA,1,-58.390403,-34.631894,MOTO,AUTO,2016-01-03 07:00:00
3,2016-0004,1,AVENIDA,8,-58.465039,-34.680930,MOTO,NaN,2016-01-10 00:00:00
4,2016-0005,1,AVENIDA,1,-58.387183,-34.622466,MOTO,PASAJEROS,2016-01-21 05:20:00
...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,AVENIDA,7,-58.433538,-34.645616,MOTO,AUTO,2021-12-13 17:10:00
692,2021-0094,1,AUTOPISTA,9,-58.467398,-34.651178,MOTO,AUTO,2021-12-20 01:10:00
693,2021-0095,1,AVENIDA,11,-58.472934,-34.619847,MOTO,CARGAS,2021-12-30 00:43:00
694,2021-0096,1,AVENIDA,9,-58.470668,-34.650217,AUTO,CARGAS,2021-12-15 10:30:00
695,2021-0097,1,CALLE,1,-58.379762,-34.586796,BICICLETA,AUTO,2021-11-18 06:10:00

In [30]:
df_hom.groupby(df_hom['TIPO_DE_CALLE'],as_index=False).count()

,TIPO_DE_CALLE,ID,N_VICTIMAS,COMUNA,pos x,pos y,VICTIMA,ACUSADO,datetime
0,AUTOPISTA,66,66,66,66,66,64,62,66
1,AVENIDA,429,429,429,429,429,427,419,429
2,CALLE,136,136,136,135,135,132,133,136
3,GRAL PAZ,65,65,65,65,65,64,59,65